<a href="https://colab.research.google.com/github/Sebastiao199/Project3MRS/blob/main/title_episode_generic__analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
title_episode = pd.read_csv('https://datasets.imdbws.com/title.episode.tsv.gz', sep = '\t')
title_episode

            tconst parentTconst seasonNumber episodeNumber
0        tt0020666   tt15180956            1             2
1        tt0020829   tt15180956            1             1
2        tt0021166   tt15180956            1             3
3        tt0021612   tt15180956            2             2
4        tt0021655   tt15180956            2             5
...            ...          ...          ...           ...
7017990  tt9916846    tt1289683            3            18
7017991  tt9916848    tt1289683            3            17
7017992  tt9916850    tt1289683            3            19
7017993  tt9916852    tt1289683            3            20
7017994  tt9916880    tt0985991            4             2

[7017995 rows x 4 columns]

In [ ]:
print('About the parentTconst table is an identifier of the parent TV Series, that means that the series are related. Maybe understand this better, might be usefull or discart.')

About the parentTconst table is an identifier of the parent TV Series, that means that the series are related. Maybe understand this better, might be usefull or discart.

In [ ]:
title_episode.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7017995 entries, 0 to 7017994
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   tconst         object
 1   parentTconst   object
 2   seasonNumber   object
 3   episodeNumber  object
dtypes: object(4)
memory usage: 214.2+ MB

In [ ]:
print('We can see that the seasonNumber and episodeNumber are both objects, because they both donÂ´t change, but maybe we can see if its better to have it as an integer.')

We can see that the seasonNumber and episodeNumber are both objects, because they both donÂ´t change, but maybe we can see if its better to have it as an integer.

In [ ]:
title_episode['seasonNumber'].isna().sum()

0

In [ ]:
title_episode['episodeNumber'].isna().sum()

0

In [ ]:
title_episode['parentTconst'].isna().sum()

0

In [ ]:
title_episode['tconst'].isna().sum()

0

In [ ]:
print('So the are no missing values in any of the columns.')

So the are no missing values in any of the columns.

In [ ]:
title_episode.describe()

           tconst parentTconst seasonNumber episodeNumber
count     7017995      7017995      7017995       7017995
unique    7017995       179727          396         15721
top     tt0020666   tt12164062            1            \N
freq            1        18593      3504564       1472783

In [ ]:
print('By the graph above we can take that there are 396 different seasons ans 15721 different episodes and we also can see the count. There other values that maybe can be usefull.')

By the graph above we can take that there are 396 different seasons ans 15721 different episodes and we also can see the count. There other values that maybe can be usefull.