<a href="https://colab.research.google.com/github/Sebastiao199/Project3MRS/blob/main/title_akas_generic__analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
title_akas = pd.read_csv('https://datasets.imdbws.com/title.akas.tsv.gz', sep = '\t')
title_akas

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,\N,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,\N,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,\N,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,\N,\N,0
4,tt0000001,5,Карменсита,RU,\N,\N,\N,0
...,...,...,...,...,...,...,...,...
33516343,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0
33516344,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
33516345,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0
33516346,tt9916856,1,The Wind,DE,\N,\N,\N,0
33516347,tt9916856,2,The Wind,\N,\N,\N,\N,1

In [ ]:
title_akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33516348 entries, 0 to 33516347
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB

In [ ]:
print('I think the table ordering is not necessary.')

I think the table ordering is not necessary.

In [ ]:
print('MISSING VALUES:')
print('')
print('titleId:', title_akas['titleId'].isna().sum())
print('ordering:', title_akas['ordering'].isna().sum())
print('title:', title_akas['title'].isna().sum())
print('region:', title_akas['region'].isna().sum())
print('language:', title_akas['types'].isna().sum())
print('attributes:', title_akas['attributes'].isna().sum())
print('isOriginalTitle:', title_akas['isOriginalTitle'].isna().sum())

MISSING VALUES:

titleId: 0
ordering: 0
title: 5
region: 105
language: 0
attributes: 0
isOriginalTitle: 0

In [ ]:
title_akas['title'].nunique()

4092845

In [ ]:
print('There are 4092845 different titles from 33516348 entries.')
different_title_names = (4092845*100)/33516348
print('There are aprox. 12.2% different titles names.')

There are 4092845 different titles from 33516348 entries.
There are aprox. 12.2% different titles.

In [ ]:
title_akas['titleId'].nunique()
different_title_id = (6603516*100)/33516348
print('There are aprox. 19.7% different titles ids.')

There are aprox. 19.7% different titles ids.

In [ ]:
print('UNIQUE VALUES:')
print('')
print('ordering:', title_akas['ordering'].nunique())
print('region:', title_akas['region'].nunique())
print('language:', title_akas['language'].nunique())
print('types:', title_akas['types'].nunique())
print('attributes:', title_akas['attributes'].nunique())
print('isOriginalTitle:', title_akas['isOriginalTitle'].nunique())

UNIQUE VALUES:

ordering: 248
region: 248
language: 107
types: 1
attributes: 1
isOriginalTitle: 5

In [ ]:
print('So we can exclude the types and attributes columns.')
print('We can also sum up that there are 248 regions and 107 languages.')
print('Also its better to verify why there are 5 unique values on the isOriginalTitle when it is suppose to have only 0 and 1 values.')

So we can exclude the types and attributes columns.
We can also sum up that there are 248 regions and 107 languages.
Also its better to verify why there are 5 unique values on the isOriginalTitle when it is suppose to have only 0 and 1 values.