<a href="https://colab.research.google.com/github/Sebastiao199/Project3MRS/blob/main/title_ratings_generic__analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# https://datasets.imdbws.com/title.ratings.tsv.gz
title_ratings = pd.read_csv('https://datasets.imdbws.com/title.ratings.tsv.gz', sep = '\t')
title_ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1919
1        tt0000002            5.8       260
2        tt0000003            6.5      1727
3        tt0000004            5.6       173
4        tt0000005            6.2      2541
...            ...            ...       ...
1238667  tt9916690            7.4         6
1238668  tt9916720            5.3       267
1238669  tt9916730            8.4         6
1238670  tt9916766            6.7        21
1238671  tt9916778            7.3        35

[1238672 rows x 3 columns]

In [ ]:
title_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1238672 entries, 0 to 1238671
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1238672 non-null  object
 1   averageRating  1238672 non-null  float64
 2   numVotes       1238672 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.4+ MB

In [ ]:
title_ratings.describe()

       averageRating      numVotes
count   1.238672e+06  1.238672e+06
mean    6.948516e+00  1.042007e+03
std     1.391589e+00  1.726257e+04
min     1.000000e+00  5.000000e+00
25%     6.200000e+00  1.200000e+01
50%     7.100000e+00  2.600000e+01
75%     7.900000e+00  1.010000e+02
max     1.000000e+01  2.650423e+06

In [ ]:
print('AVERAGE RATING:\nMin: 1 \nMax: 10 \nMean: 6.95 \nMedian: 7.1\n\nNUMBER OF VOTES:\nMin: 5 \nMax: 2650000 \nMean: 1040 \nMedian: 26 ')

AVERAGE RATING:
Min: 1
Max: 10
Mean: 6.95
Median: 7.1

NUMBER OF VOTES:
Min: 5
Max: 2650000
Mean: 1040
Median: 26

In [ ]:
print('We can see that the number of votes mean and median its very different. Something to consider.')

We can see that the number of votes mean and median its very different. Something to consider.

In [ ]:
title_ratings['averageRating'].nunique()

91

In [ ]:
print('There are 99 or 100 possiblities of ratings so 91 is quite normal.')

There are 99 or 100 possiblities of ratings so 91 is quite normal.

In [ ]:
title_ratings['numVotes'].nunique()

20669

In [ ]:
title_ratings['numVotes'].count()

1238672

In [ ]:
print('From 1238672 entries(rows) we have 20669 different values on the Number of Votes given.')

From 1238672 entries(rows) we have 20669 different values on the Number of Votes given.

In [ ]:
print('The column tconst is the primary key and usefull to make the joins.')

The column tconst is the primary key and usefull to make the joins.

In [ ]:
title_ratings.corr()

               averageRating  numVotes
averageRating       1.000000  0.010742
numVotes            0.010742  1.000000

In [ ]:
print('So we can conclude based on the correlation indice that averageRating and numVotes have no correlation between them.')

So we can conclude based on the correlation indice that averageRating and numVotes have no correlation between them.